*
{
    font-family: 'Raleway', sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
body
{
    margin: 0;
}
.space-work
{
    max-width: 1180px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}
#block-nav-logo
{
    display: flex;
    align-items: center;
    height: 100px;
}
nav
{
    width: 100%;
}
nav ul
{
    display: flex;
    justify-content: flex-end;  
}
nav ul li
{
    list-style-type: none;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    text-align: center;
}
nav ul li a:hover
{
    border-top: #0065fc solid 2px;
    color: #0065fc; 
    height: 100px;
    line-height: 100px;  
    display: block;
    width: 100%;
}
.register p
{
   width: 70px;
   padding-left: 14px;
}
.register p a
{
    color: #0065fc;
    font-weight: bold;
}
.first-paragraph
{
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: bold;
}
.second-paragraph
{
    margin: 0px;   
}
#search-bar
{
    display: flex;
}
label
{
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #f2f2f2 ;
    border-radius: 15px 0px 0px 15px;
    vertical-align: top;
}
input[type="text"]
{
    height: 36px;
    border:  #f2f2f2 solid 1px;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 5px;
}
#localisation::placeholder
{
    color: black;
}
input[value="Rechercher"]
{
    border: #0065fc solid 1px;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065fc;
    color: white;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}
#loupe
{
    border: #0065fc solid 1px;
    height: 40px;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    width: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: none;
    
}
#block-filtres
{
    display: flex;
}
.filtre div
{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    background-color: #deebff;
    color: #0065fc;
}
#titre-filtre
{
   margin: 0 45px 0 0;
   width: 45px; 
   height: 40px;
   line-height: 40px;
   font-weight: bold;
}
.filtre
{
    display: flex;
    margin-right: 45px;
    border: #f2f2f2 solid 2px;
    border-radius: 25px;
    border-left: none;
    cursor: pointer;
}
.filtre:hover
{
    background-color: #deebff;
    color: #0065fc;
}
.filtre p
{
    margin: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.block-informations
{
    display: flex;
    align-items: center;
} 
.block-informations div
{
    border:#f2f2f2 solid 2px;
    width: 20px;
    height: 20px;
    line-height: 20px ;
    font-size: 0.7em;
    text-align: center;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065fc;
}
.block-informations p
{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hebergements
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section
{
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 60%;
    padding: 0 35px;
}
#titre-hebergements
{
    margin-top: 30px;
    font-size: 18px;
}
.content-hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-hebergements a
{
    margin-bottom: 35px;
    width: 30%;
}
.hebergements-blocks
{
    width: 95%;
    border-radius: 15px;
    background-color: white;
    height: 142px;
    padding: 5px 5px 0;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.hebergements-cadre
{
    width: 100%;
}
.hebergements-cadre img
{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.lieu
{
    margin: 2px 0 0 15px;
    font-weight: bold;
    font-size:13px ;
}
.prix
{
    margin: 2px 0 6px 15px;
    font-size: 11.5px;
}
.stars
{
    display: flex;
}
.stars-bleu
{
    display: flex;
    color: #0065fc;
    font-size: 10px;
    margin-left: 15px;
}
.stars-grey
{
    display: flex;
    color: #deebff;
    font-size: 10px;
}
.afficher-plus
{
    font-weight: bolder;
    margin: 0;
}
aside
{
    width: 30%;
    background-color: #f2f2f2;
    border-radius:  20px; 
}
.titre-populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 30px 0 16px 0;

}
.titre-populaire h2
{
    font-size: 18px;
    margin: 0;
}
.chart-line
{
    font-size: 18px;
}
.content-populaire
{
    width: 85%;
    margin: auto;
}
.content-populaire a
{
    margin-bottom: 30px;
    display: block;
}
.populaire-blocks
{
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px #e3e3e3;
    padding-right: 5px;
}
.populaire-cadre
{
    width: 40%;
}
.populaire-cadre img
{
    width: 100%;
    height: 100px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 1px 5px;
    object-fit: cover;
}
.populaire-details
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.activites
{
    margin-top: 50px;
    width: 100%;
}
#titre-activites
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-activites
{
    display: flex;
    justify-content: space-between;
}
.activites-blocks
{
    width: 23%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activites-blocks-shadow
{
    box-shadow: 0 0 10px #e3e3e3;
}
.activites-sous-blocks
{
    border-radius: 20px 20px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.activites-cadre img
{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
img[alt="image vieux port"],
img[alt="image parc international des calanques"]
{
    width: 100%;
    height: 385px;
}
img[alt="image fort de pomègues"]
{
    width: 100%;
    height: 180px;
}
img[alt="image iles de frioul"]
{
    width: 100%;
    height: 110px;
    object-position: top;
}
img[alt="image notre dame de la garde"]
{
    width: 100%;
    height: 135px;
    object-position: top;
}
img[alt="image parc longchamp"]
{
    width: 100%;
    height: 150px;
}
.activites-blocks h4
{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    display: flex;
}
footer
{
    background-color: #f2f2f2;
    margin-top: 40px;
}
.space-work-footer
{
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
}
.space-work-footer div
{
    width: 33%;
}
h5
{
    font-size: 18px;
    font-weight: bold;
}
footer ul
{
    padding-left: 0;
}
footer li
{
    height: 30px;
    list-style-type: none;
}
@media all and (max-width: 992px)
{
    .space-work
    {
        padding: 0;
    }
    #block-nav-logo, .first-paragraph,
    .second-paragraph, form, .block-informations
    {
        padding: 0 10px;
    }
    #block-filtres
    {
        padding: 0 10px;
        flex-wrap: wrap;
    }
    #titre-filtre
    {
        width: 100%;
    }
    .filtre
    { 
        margin-right: 35px;
    }
    .hebergements
    {
        flex-direction: column-reverse;
    }
    aside{
        border-radius: 0;
        width: 100%;
    }
    .titre-populaire
    {
        width: 95%;
    }
    .content-populaire
    {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .content-populaire a
    {
        width: 32%;
    }
    section
    {
        width: 100%;
        padding: 0;
        background-color: white;
    }
    #titre-hebergements
    {
        width: 95%;
        margin: 30px auto 15px;
    }
    .content-hebergements, .afficher-plus
    {
        width: 95%;
        margin: auto;
    }
    #titre-activites
    {
        width: 95%;
        margin: 0 auto 20px;
    }
    .content-activites
    {
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
    }
    .activites-blocks
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .activites-blocks_responsive
    {
        flex-direction: row;
    }
    .activites-blocks_responsive a
    {
        width: 45%;
    }
    .activites-cadre img
    {
        height: 150px;
    }
    .space-work-footer
    {
        width: 95%;
        margin: auto;
    }
}
@media all and (max-width: 768px)
{
    #block-nav-logo
    {
        flex-wrap: wrap;
    }
    nav:nth-child(2)
    {
        order: 3;
    }
    nav ul
    {
        padding-left: 0px;
    }
   nav ul li
    {
        width: 100%;
        height: 30px;
        border-bottom:2px solid #f2f2f2;  
    }
    nav ul li a:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065fc;
        height: 30px;
        line-height: 30px;
    }
    #block-logo
    {
        padding-left: 10px;
    }
    .register
    {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .first-paragraph
    {
        margin-bottom: 15px;
    }
    .second-paragraph
    {
        margin-bottom: 30px;
    }
    input[value="Rechercher"]
    {
        display: none;
    }
    #loupe
    {
        display: block;
        position: relative;
        left: -9px;
    }
    input[placeholder="Marseille,France"]
    {
        width: 240px;
    }
    .filtre
    {
        margin-top: 10px;
    }
    .titre-populaire
    {
        width: 90%;
    }
    .content-populaire
    {
        width: 90%;
        flex-direction: column;
    }
    .content-populaire a
    {
        width: 100%;
    }
    #titre-hebergements, .content-hebergements,
    .afficher-plus
    {
        width: 90%;
    }
    .content-hebergements
    {
        margin-bottom: 15px;
    }
    .content-hebergements a
    {
        width: 100%;
        margin-bottom: 15px;
    }
    .hebergements-blocks
    {
        width: 100%;
        height: 212px;
        margin: auto;
    }
    .hebergements-cadre img
    {
        height: 150px;
    }
    #titre-activites, .content-activites
    {
        width: 90%;
    }
    .activites-blocks
    {
        margin-bottom: 0;
    }
    .activites-blocks-shadow
    {
        margin-bottom: 20px;
    }
    .activites-blocks_responsive
    {
        flex-direction: column;
    }
    .activites-blocks_responsive a
    {
        width: 100%;
        margin-bottom: 15px;
    }
    .space-work-footer
    {
        width: 90%;
        flex-direction: column;
    }
    .space-work-footer div
    {
        width: 100%;
    }
} 