*
{
    font-family: 'Raleway', sans-serif;
}
body
    {
        margin: 0px;
    }
.space-work
{
    max-width: 1180px;
    margin: auto;
}
#block-nav-logo
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
nav
{
    width: 100%;
}
ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
   
}
li
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a
{
    text-decoration: none;
    color: black;

}
.space
{
    width: 135px;
    text-align: center;
}
.space a:hover
{
    border-top: #0065fc solid 2px;
    color: #0065fc; 
    height: 100px;
    line-height: 100px;  
    display: block;
    width: 100%;
}
.s-inscrire
{
   width: 70px; 
   padding-left: 14px;
}
.s-inscrire a
{
    color: #0065fc;
    font-weight: bold;
}
.first-paragraph
{
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: bold;
}
.second-paragraph
{
    margin: 0px;   
}
label
{
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #f2f2f2 ;
    border-radius: 15px 0px 0px 15px;
    vertical-align: top;
}
input[type="text"]
{
    height: 36px;
    border:  #f2f2f2 solid 1px;
    font-size: 1.1em;
    font-weight: bold;
}
input[value="Rechercher"]
{
    border: #0065fc solid 1px;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065fc;
    color: white;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}
#magnifyin
{
    border: #0065fc solid 1px;
    height: 40px;
    border-radius: 15px;
    background-color: #0065fc;
    color: white;
    width: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: none;
    
}
#search-bar
{
    display: flex;
}
#localisation::placeholder
{
    color: black;
}
.filtre
{
    display: flex;
    margin-left: 45px;
}
#block-filtres
{
    display: flex;
}
.filtre div
{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    background-color: #deebff;
    color: #0065fc;
}
.filtre p
{
    margin: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.filtre
{
    border: #f2f2f2 solid 2px;
    border-radius: 25px;
    border-left: none;
}
.filtre:hover
{
    background-color: #deebff;
    color: #0065fc;
}
#titre-filtre
{
   margin: 0px;
   width: 45px; 
   height: 40px;
   line-height: 40px;
   font-weight: bold;
}
.block-informations
{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
} 
.i
{
    border:#f2f2f2 solid 2px;
    width: 20px;
    height: 20px;
    line-height: 20px ;
    font-size: 0.7em;
    text-align: center;
    border-radius: 100px;
    margin-right: 10px;
    color: #0065fc;

}
.logements
{
    font-size: 14px;
}
h1
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}
.principal-block
{
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 68%;
}
.content
{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
}
.content a
{
    width: 30%;
    margin-bottom: 30px;
}
.internal-block
{
    border-radius: 15px;
    background-color: white;
    height: 142px;
    width: 100%;
    padding-top: 5px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.principal-block h1
{
    padding-left: 35px;
}
.image1, .image2, .image3, .image5
{
    width: 100% ;
    height: 80px;
    object-fit: cover;
    object-position: bottom;
}
.image4, .image6
{
    width: 100%;
    height: 100px;
    object-fit: cover;
    position: relative;
    top: -20px;
}
.line-spacing
{
    margin-top: 4px;
    margin-left: 15px;
    font-weight: bold;
    font-size:13px ;
    width: 70%;
}
.line-spacing1
{
    margin-top: -9px;
    margin-left: 15px;
    font-size: 11.5px;
}
.afficher-plus
{
    padding-left: 35px;
    font-weight: bolder;
    position: relative;
    top: -15px;
}
.gallery
{
    height: 80px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.block-all-stars
{
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-top: -7px;
    margin-left: 15px;
}
.stars-bleu
{
    display: flex;
    color: #0065fc;
}
.stars-grey
{
    display: flex;
    color: #deebff;
}
aside
{
    width: 27%;
    background-color: #f2f2f2;
    border-radius:  20px; 
}
.title-block-aside
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.second-i
{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.alignment-blocks
{
    display: flex;
    justify-content: space-between;
}
.internal-block-aside
{
    display: flex;
    background-color: white;
    width: 90%;
    margin: auto;
    height: 108px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.internal-block-aside a
{
    display: block;
}
.image7
{
    width: 170px ;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
    position:relative;
    left: -35px;
}
.image8
{
    width: 150px ;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
    position:relative;
    left: -25px;
}
.image9
{
    width: 100px ;
    height: 150px;
    border-radius: 10px 0px 0px 10px;
    position:relative;
    top: -25px;
}
.block-all-stars-aside
{
    display: flex;
    justify-content: start;
    font-size: 10px;
    margin-top: -7px;
    margin-left: 15px;
    margin-top: 15px;
}
.gallery-aside
{
    overflow: hidden;
    width: 100px;
    height: 98px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    margin-top: 5px;
}
.line-spacing-aside
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    width: 62%;
}
.basic-block-activities
{
    margin-top: 50px;
    width: 100%;
}
.block-all-activity
{
    display: flex;
    justify-content: space-between;
}
.block1-activity, .block2-activity, .block3-activity, .block4-activity
{
    width: 23%;
}
.block1-activity
{
    display: flex;
    flex-direction: column;
}
.vieux-port
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.image10
{
    width: 565px;
    height: 330px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    left: -140px;
}
h3
{
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
}
.block-image10
{
    overflow: hidden;
    height: 290px;
}
.block2-activity, .block4-activity
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fort-de-pomègues
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.block-image11
{
    overflow: hidden;
    height: 130px;
    border-radius: 15px 15px 0px 0px;
}
.image11
{
width: 270px;
height: 300px;
border-radius: 15px 15px 0px 0px;
position: relative;
top: -60px;
}
.iles-de-frioul
{
    border-radius: 15px;
    box-shadow: 0px 0px 10px #e3e3e3;
    display: flex;
    flex-direction: column;
}
.block-image12
{
    overflow: hidden;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
}
.image12
{
    width: 275px;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -45px;
    left: -5px;
}
.block3-activity
{
    display: flex;
    flex-direction: column;
}
.parc-national-des-calanques
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.block-image13
{
    overflow: hidden;
    height: 287px;
    border-radius: 15px 15px 0px 0px;
}
.image13
{
    width: 610px;
    height: 330px;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    left: -170px;
    top: -5px;
}
.notre-dame-de-la-garde
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.block-image14
{
    overflow: hidden;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
}
.image14
{
    width: 270px;
    height: 150px;
    position: relative;
    top: -5px;
}
.parc-longchamp
{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px #e3e3e3;
}
.block-image15
{
    overflow: hidden;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}
.image15
{
    width: 270px;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -5px;
}
footer
{
    background-color: #f2f2f2;
    margin-top: 40px;
}
.space-work-internal
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.organisation
{
    width: 230px;
    padding-top: 15px;
}
footer ul
{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-left: 0px;
}
footer a
{
    width: 230px;
    font-size: 13px;
}
.li-block
{
    height: 30px;
    padding-left: 0px;
}
h4
{
    font-size: 15px;
    font-weight: bold;
}
@media all and (max-width: 768px)
{
    #block-nav-logo
    {
        flex-wrap: wrap;
    }
    nav:nth-child(2)
    {
        order: 3;
    }
   .space
    {
        width: 100%;
        height: 30px;
        border-bottom:2px solid #f2f2f2;  
    }
    ul
    {
        padding-left: 0px;
    }
    .space a:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065fc;
        height: 30px;
        line-height: 30px;
    }
    .register
    {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .register a
    {
        position: relative;
        right: 15px;
    }
    #block-logo
    {
        width: 50%;
    }
    #block-logo img
    {
        position: relative;
        left: 15px;
    }
    .first-paragraph
    {
        width: 85%;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .second-paragraph
    {
        margin-left: 15px;
        margin-bottom: 30px;
    }
    #search-bar
    {
        margin-left: 15px; 
    }
    input[value="Rechercher"]
    {
        display: none;
    }
    #magnifyin
    {
        display: block;
        position: relative;
        left: -9px;
    }
    input[placeholder="Marseille,France"]
    {
        width: 240px;
    }
    #block-filtres
    {
        flex-wrap: wrap;
    }
    #titre-filtre
    {
        width: 100%;
        padding-left: 15px;
    }
    .filtre
    {
        margin-left: 15px;
        margin-top: 10px;
    }
    .i
    {
        margin-left: 15px;
    }
    .alignment-blocks
    {
        flex-direction:column-reverse;
        width: 100%;
    }
    aside
    {
        width: 100%;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
    }
    .content-aside
    {
        width: 90%;
        margin: auto;
    }
    .internal-block-aside
    {
        width: 100%;
        height: 150px;
        margin-top: 0px;
    }

    .principal-block
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        }
    .content
    {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .content a
    {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .principal-block h1
    {
        width: 90%;
        margin: auto;
        padding: 25px 0px;
        
    }
    .second-i
    {
        font-size: 18px;
        padding-right: 5px;
    }
    .logements
    {
        font-size: 14px;
        width: 71%;
    }
    .internal-block
    {
        height: 195px;
    }
    .gallery
    {
        height: 130px;
    }
    .image1, .image2
    {
        height: 250px;
        position: relative;
        top: -60px;
    }
    .image3
    {
        height: 250px;
        position:relative;
        top: -100px;
    }
    .image4
    {
        height: 350px;
        position:relative;
        top: -160px;
    }
    .image5
    {
        height: 180px;
        position:relative;
        top: -45px;
    }
    .image6
    {
        height: 400px;
        position:relative;
        top: -200px;
    }
    .afficher-plus
    {
        padding-left: 0px;
        padding-top: 20px;
        width: 90%;
        margin: auto;
    }
    .title-block-aside
    {
        width: 90%;
    }
    .gallery-aside
    {
        width: 38%;
        height: 140px;
    }
    .image7
    {
        width: 100%;
        height:160px ;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: -10px;
    }
    .image8
    {
      width: 100%;
      height: 150px; 
      object-fit: cover;
      position: relative;
      left: 0px;
    }
    .image9
    {
        width: 100%;
        height: 210px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: -55px;
    }
    .basic-block-activities
    {
        margin-top: 0px;
    }
    .basic-block-activities h1
    {
        width: 90%;
        margin: auto;
        padding: 25px 0px;
    }
    .block-all-activity
    {
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .block1-activity 
    {
        height: 175px;
        width: 100%;
        margin-bottom: 15px;
    }
    .vieux-port
    {
        height: 175px;
        border-radius: 15px 15px;
    }
    .image10
    {
        width: 100%;
        height: 240px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: -55px;
    }
    .block2-activity 
    {
        height: 360px;
        width: 100%;
        margin-bottom: 15px;
    }
    .fort-de-pomègues
    {
        width: 100%;
        height: 175px;
    }
    .image11
    {
        width: 100%;
        height: 360px;
        object-fit: cover;
        position: relative;
        top: -110px;
    }
    .iles-de-frioul
    {
        width: 100%;
        height: 175px;
        margin-top: 15px;
    }
    .block-image12
    {
        width: 100%;
        height: 130px;
    }
    .image12
    {
        width:100% ;
        height: 260px;
        position: relative;
        object-fit: cover;
        top: -40px;
        left: 0px;
    }
    .block3-activity
    {
        height: 175px;
        width: 100%;
        margin-bottom: 15px;
    }
    .parc-national-des-calanques
    {
        width: 100%;
        height: 175px;
    }
    .image13
    {
        width: 100%;
        height: 240px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: -70px;
    }
    .block4-activity
    {
        height: 360px;
        width: 100%;
    }
    .notre-dame-de-la-garde
    {
        height: 175px;
    }
    .block-image14
    {
        height: 130px;
    }
    .image14
    {
        width: 100%;
        height: 400px;
        object-fit: cover;
        position: relative;
        top: -60px;
    }
    .parc-longchamp
    {
        height: 175px;
        margin-top: 10px;
    }
    .block-image15
    {
        height: 130px;
    }
    .image15
    {
        width: 100%;
        height: 215px;
        object-fit: cover;
        position: relative;
        top: -30px;
    }
    .space-work-internal
    {
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .organisation
    {
        width: 100%;
    }
    footer
    {
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }
    .li-block
    {
        justify-content: start;
    }
}